In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
df=pd.read_csv("fuel consumption.csv")

In [3]:
df.head()

,STATISTIC,Statistic Label,C02405V02899,Sector,TLIST(A1),Year,C02404V02898,Fuel Type,UNIT,VALUE
0,SEI06,Fuel Consumption (ktoe),14,Final energy consumption,1990,1990,01,Sum of all coal products,ktoe,843
1,SEI06,Fuel Consumption (ktoe),14,Final energy consumption,1990,1990,0101,Bituminous coal,ktoe,825
2,SEI06,Fuel Consumption (ktoe),14,Final energy consumption,1990,1990,0102,Anthracite and manufactured ovoids,ktoe,0
3,SEI06,Fuel Consumption (ktoe),14,Final energy consumption,1990,1990,0103,Coke,ktoe,0
4,SEI06,Fuel Consumption (ktoe),14,Final energy consumption,1990,1990,0104,Lignite,ktoe,18

In [4]:
df.tail()

,STATISTIC,Statistic Label,C02405V02899,Sector,TLIST(A1),Year,C02404V02898,Fuel Type,UNIT,VALUE
65335,SEI06,Fuel Consumption (ktoe),2001,Fisheries,2022,2022,10,Non renewable waste,ktoe,0
65336,SEI06,Fuel Consumption (ktoe),2001,Fisheries,2022,2022,06,Electricity,ktoe,0
65337,SEI06,Fuel Consumption (ktoe),2001,Fisheries,2022,2022,07,Heat,ktoe,0
65338,SEI06,Fuel Consumption (ktoe),2001,Fisheries,2022,2022,-,Sum of all fuel products,ktoe,28
65339,SEI06,Fuel Consumption (ktoe),2001,Fisheries,2022,2022,0509,Geothermal,ktoe,0

In [5]:
df.shape

(65340, 10)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65340 entries, 0 to 65339
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   STATISTIC        65340 non-null  object
 1   Statistic Label  65340 non-null  object
 2   C02405V02899     65340 non-null  int64
 3   Sector           65340 non-null  object
 4   TLIST(A1)        65340 non-null  int64
 5   Year             65340 non-null  int64
 6   C02404V02898     65340 non-null  object
 7   Fuel Type        65340 non-null  object
 8   UNIT             65340 non-null  object
 9   VALUE            65340 non-null  int64
dtypes: int64(4), object(6)
memory usage: 5.0+ MB

In [8]:
df.describe()

        C02405V02899     TLIST(A1)          Year         VALUE
count   65340.000000  65340.000000  65340.000000  65340.000000
mean    45580.533333   2006.000000   2006.000000     45.377242
std     77484.891249      9.521977      9.521977    372.367829
min        14.000000   1990.000000   1990.000000      0.000000
25%      1601.000000   1998.000000   1998.000000      0.000000
50%      1612.000000   2006.000000   2006.000000      0.000000
75%     17302.000000   2014.000000   2014.000000      0.000000
max    190204.000000   2022.000000   2022.000000  13189.000000

In [9]:
df.isnull().sum()

STATISTIC          0
Statistic Label    0
C02405V02899       0
Sector             0
TLIST(A1)          0
Year               0
C02404V02898       0
Fuel Type          0
UNIT               0
VALUE              0
dtype: int64